# Kmapper Test Notebook
Выполнил: Игошин Андрей
Группа: 18 МАГ ИАД

In [1]:
from pyspark.sql import SparkSession
from pyspark.ml.recommendation import ALS
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.ml.feature import OneHotEncoder
from pyspark.ml.feature import StringIndexer
from pyspark.ml.feature import MinMaxScaler

In [2]:
import sparkmonitor
!jupyter nbextension install sparkmonitor --py --user --symlink 
!jupyter nbextension enable sparkmonitor --py --user            
!jupyter serverextension enable --py --user sparkmonitor
!ipython profile create && echo "c.InteractiveShellApp.extensions.append('sparkmonitor.kernelextension')" >>  $(ipython profile locate default)/ipython_kernel_config.py

Installing /anaconda3/lib/python3.6/site-packages/sparkmonitor/static -> sparkmonitor
- Validating: OK

    To initialize this nbextension in the browser every time the notebook (or other app) loads:

          jupyter nbextension enable sparkmonitor --user --py

Enabling notebook extension sparkmonitor/module...
      - Validating: OK
Enabling: sparkmonitor.serverextension
- Writing config: /Users/a.y.igoshin/.jupyter
    - Validating...
      sparkmonitor.serverextension  OK

In [3]:
from pyspark import SparkContext
sc=SparkContext.getOrCreate(conf=conf) #Start the spark context

In [4]:
spark = SparkSession.builder.appName('MovieRatingsProject').getOrCreate()

In [5]:
info = spark.read.csv('ml-100k/u.info',inferSchema=True,sep='\t')
info.show()

+--------------+
|           _c0|
+--------------+
|     943 users|
|    1682 items|
|100000 ratings|
+--------------+

In [6]:
from pyspark.sql.functions import from_unixtime, year

Датасет содержит 100 000 оценок 934 пользователями 1682 фильмов. Каждый пользователь оценил не менее 20 фильмов.

In [7]:
ratings = spark.read.csv('ml-100k/u.data',inferSchema=True,sep='\t')
ratings = ratings.withColumnRenamed('_c0','user_id').withColumnRenamed('_c1','movie_id').withColumnRenamed('_c2','rating').withColumnRenamed('_c3','timestamp')
# ratings.show()

In [8]:
ratings = ratings.withColumn('year_rated', year(from_unixtime('timestamp')))

In [9]:
ratings.show()

+-------+--------+------+---------+----------+
|user_id|movie_id|rating|timestamp|year_rated|
+-------+--------+------+---------+----------+
|    196|     242|     3|881250949|      1997|
|    186|     302|     3|891717742|      1998|
|     22|     377|     1|878887116|      1997|
|    244|      51|     2|880606923|      1997|
|    166|     346|     1|886397596|      1998|
|    298|     474|     4|884182806|      1998|
|    115|     265|     2|881171488|      1997|
|    253|     465|     5|891628467|      1998|
|    305|     451|     3|886324817|      1998|
|      6|      86|     3|883603013|      1998|
|     62|     257|     2|879372434|      1997|
|    286|    1014|     5|879781125|      1997|
|    200|     222|     5|876042340|      1997|
|    210|      40|     3|891035994|      1998|
|    224|      29|     3|888104457|      1998|
|    303|     785|     3|879485318|      1997|
|    122|     387|     5|879270459|      1997|
|    194|     274|     2|879539794|      1997|
|    291|    1042|     4|874834944|      1997|
|    234|    1184|     2|892079237|      1998|
+-------+--------+------+---------+----------+
only showing top 20 rows

Информация о каждом фильме включает в себя название, даты выхода в прокат и появления в магазинах, ссылку на IMDB и жанр. Причем один фильм может быть отнесен к нескольким жанрам.

In [10]:
movies = spark.read.csv('ml-100k/u.item', inferSchema=True, sep='|')
names = ['movie_id', 'movie_title', 'release_date', 'video_release_date', 'IMDb_URL', 'unknown', 'Action', 'Adventure', 'Animation', "Children's", 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
for i in range(len(names)):
    movies = movies.withColumnRenamed('_c'+str(i), names[i])

In [11]:
from pyspark.sql.functions import to_date

In [12]:
movies = movies.withColumn('year_released', year(to_date('release_date', 'dd-MMM-yyyy')))

In [13]:
movies.show()

+--------+--------------------+------------+------------------+--------------------+-------+------+---------+---------+----------+------+-----+-----------+-----+-------+---------+------+-------+-------+-------+------+--------+---+-------+-------------+
|movie_id|         movie_title|release_date|video_release_date|            IMDb_URL|unknown|Action|Adventure|Animation|Children's|Comedy|Crime|Documentary|Drama|Fantasy|Film-Noir|Horror|Musical|Mystery|Romance|Sci-Fi|Thriller|War|Western|year_released|
+--------+--------------------+------------+------------------+--------------------+-------+------+---------+---------+----------+------+-----+-----------+-----+-------+---------+------+-------+-------+-------+------+--------+---+-------+-------------+
|       1|    Toy Story (1995)| 01-Jan-1995|              null|http://us.imdb.co...|      0|     0|        0|        1|         1|     1|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1995|
|       2|    GoldenEye (1995)| 01-Jan-1995|              null|http://us.imdb.co...|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       1|  0|      0|         1995|
|       3|   Four Rooms (1995)| 01-Jan-1995|              null|http://us.imdb.co...|      0|     0|        0|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       1|  0|      0|         1995|
|       4|   Get Shorty (1995)| 01-Jan-1995|              null|http://us.imdb.co...|      0|     1|        0|        0|         0|     1|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1995|
|       5|      Copycat (1995)| 01-Jan-1995|              null|http://us.imdb.co...|      0|     0|        0|        0|         0|     0|    1|          0|    1|      0|        0|     0|      0|      0|      0|     0|       1|  0|      0|         1995|
|       6|Shanghai Triad (Y...| 01-Jan-1995|              null|http://us.imdb.co...|      0|     0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1995|
|       7|Twelve Monkeys (1...| 01-Jan-1995|              null|http://us.imdb.co...|      0|     0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      0|     1|       0|  0|      0|         1995|
|       8|         Babe (1995)| 01-Jan-1995|              null|http://us.imdb.co...|      0|     0|        0|        0|         1|     1|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1995|
|       9|Dead Man Walking ...| 01-Jan-1995|              null|http://us.imdb.co...|      0|     0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1995|
|      10|  Richard III (1995)| 22-Jan-1996|              null|http://us.imdb.co...|      0|     0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  1|      0|         1996|
|      11|Seven (Se7en) (1995)| 01-Jan-1995|              null|http://us.imdb.co...|      0|     0|        0|        0|         0|     0|    1|          0|    0|      0|        0|     0|      0|      0|      0|     0|       1|  0|      0|         1995|
|      12|Usual Suspects, T...| 14-Aug-1995|              null|http://us.imdb.co...|      0|     0|        0|        0|         0|     0|    1|          0|    0|      0|        0|     0|      0|      0|      0|     0|       1|  0|      0|         1995|
|      13|Mighty Aphrodite ...| 30-Oct-1995|              null|http://us.imdb.co...|      0|     0|        0|        0|         0|     1|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1995|
|      14|  Postino, Il (1994)| 01-Jan-1994|              null|http://us.imdb.co...|      0|     0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      1|     0|       0|  0|      0|         1994|
|      15|Mr. Holland's Opu...| 29-Jan-1996|              null|http://us.imdb.co...|      0|     0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|
|      16|French Twist (Gaz...| 01-Jan-1995|              null|http://us.imdb.co...|      0|     0|        0|        0|         0|     1|    0|          0|    0|      0|        0|     0|      0|      0|      1|     0|       0|  0|      0|         1995|
|      17|From Dusk Till Da...| 05-Feb-1996|              null|http://us.imdb.co...|      0|     1|        0|        0|         0|     1|    1|          0|    0|      0|        0|     1|      0|      0|      0|     0|       1|  0|      0|         1996|
|      18|White Balloon, Th...| 01-Jan-1995|              null|http://us.imdb.co...|      0|     0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1995|
|      19|Antonia's Line (1...| 01-Jan-1995|              null|http://us.imdb.co...|      0|     0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1995|
|      20|Angels and Insect...| 01-Jan-1995|              null|http://us.imdb.co...|      0|     0|        0|        0|         0|     0|    0|          0|    1|      0|        0|     0|      0|      0|      1|     0|       0|  0|      0|         1995|
+--------+--------------------+------------+------------------+--------------------+-------+------+---------+---------+----------+------+-----+-----------+-----+-------+---------+------+-------+-------+-------+------+--------+---+-------+-------------+
only showing top 20 rows

Информация о каждом пользователе включает в себя возраст, пол, профессию и почтовый индекс.

In [14]:
users = spark.read.csv('ml-100k/u.user', inferSchema=True, sep='|')
names = ['user_id', 'age', 'gender', 'occupation', 'zip_code']
for i in range(len(names)):
    users = users.withColumnRenamed('_c'+str(i), names[i])
users.show()

+-------+---+------+-------------+--------+
|user_id|age|gender|   occupation|zip_code|
+-------+---+------+-------------+--------+
|      1| 24|     M|   technician|   85711|
|      2| 53|     F|        other|   94043|
|      3| 23|     M|       writer|   32067|
|      4| 24|     M|   technician|   43537|
|      5| 33|     F|        other|   15213|
|      6| 42|     M|    executive|   98101|
|      7| 57|     M|administrator|   91344|
|      8| 36|     M|administrator|   05201|
|      9| 29|     M|      student|   01002|
|     10| 53|     M|       lawyer|   90703|
|     11| 39|     F|        other|   30329|
|     12| 28|     F|        other|   06405|
|     13| 47|     M|     educator|   29206|
|     14| 45|     M|    scientist|   55106|
|     15| 49|     F|     educator|   97301|
|     16| 21|     M|entertainment|   10309|
|     17| 30|     M|   programmer|   06355|
|     18| 35|     F|        other|   37212|
|     19| 40|     M|    librarian|   02138|
|     20| 42|     F|    homemaker|   95660|
+-------+---+------+-------------+--------+
only showing top 20 rows

In [15]:
stringIndexer = StringIndexer(inputCol="gender", outputCol="indexed_gender", handleInvalid='error')
model = stringIndexer.fit(users)
users = model.transform(users)
encoder = OneHotEncoder(inputCol="indexed_gender", outputCol='gender_feature')
users = encoder.transform(users)

stringIndexer = StringIndexer(inputCol="occupation", outputCol="indexed_occupation", handleInvalid='error')
model = stringIndexer.fit(users)
users = model.transform(users)
encoder = OneHotEncoder(inputCol="indexed_occupation", outputCol='occupation_feature')
users = encoder.transform(users)

In [16]:
users.show()

+-------+---+------+-------------+--------+--------------+--------------+------------------+------------------+
|user_id|age|gender|   occupation|zip_code|indexed_gender|gender_feature|indexed_occupation|occupation_feature|
+-------+---+------+-------------+--------+--------------+--------------+------------------+------------------+
|      1| 24|     M|   technician|   85711|           0.0| (1,[0],[1.0])|              11.0|   (20,[11],[1.0])|
|      2| 53|     F|        other|   94043|           1.0|     (1,[],[])|               1.0|    (20,[1],[1.0])|
|      3| 23|     M|       writer|   32067|           0.0| (1,[0],[1.0])|               7.0|    (20,[7],[1.0])|
|      4| 24|     M|   technician|   43537|           0.0| (1,[0],[1.0])|              11.0|   (20,[11],[1.0])|
|      5| 33|     F|        other|   15213|           1.0|     (1,[],[])|               1.0|    (20,[1],[1.0])|
|      6| 42|     M|    executive|   98101|           0.0| (1,[0],[1.0])|               8.0|    (20,[8],[1.0])|
|      7| 57|     M|administrator|   91344|           0.0| (1,[0],[1.0])|               3.0|    (20,[3],[1.0])|
|      8| 36|     M|administrator|   05201|           0.0| (1,[0],[1.0])|               3.0|    (20,[3],[1.0])|
|      9| 29|     M|      student|   01002|           0.0| (1,[0],[1.0])|               0.0|    (20,[0],[1.0])|
|     10| 53|     M|       lawyer|   90703|           0.0| (1,[0],[1.0])|              17.0|   (20,[17],[1.0])|
|     11| 39|     F|        other|   30329|           1.0|     (1,[],[])|               1.0|    (20,[1],[1.0])|
|     12| 28|     F|        other|   06405|           1.0|     (1,[],[])|               1.0|    (20,[1],[1.0])|
|     13| 47|     M|     educator|   29206|           0.0| (1,[0],[1.0])|               2.0|    (20,[2],[1.0])|
|     14| 45|     M|    scientist|   55106|           0.0| (1,[0],[1.0])|               9.0|    (20,[9],[1.0])|
|     15| 49|     F|     educator|   97301|           1.0|     (1,[],[])|               2.0|    (20,[2],[1.0])|
|     16| 21|     M|entertainment|   10309|           0.0| (1,[0],[1.0])|              13.0|   (20,[13],[1.0])|
|     17| 30|     M|   programmer|   06355|           0.0| (1,[0],[1.0])|               5.0|    (20,[5],[1.0])|
|     18| 35|     F|        other|   37212|           1.0|     (1,[],[])|               1.0|    (20,[1],[1.0])|
|     19| 40|     M|    librarian|   02138|           0.0| (1,[0],[1.0])|               6.0|    (20,[6],[1.0])|
|     20| 42|     F|    homemaker|   95660|           1.0|     (1,[],[])|              20.0|        (20,[],[])|
+-------+---+------+-------------+--------+--------------+--------------+------------------+------------------+
only showing top 20 rows

In [17]:
genres = ['unknown', 'Action', 'Adventure', 'Animation', "Children's", 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']

Для получения целостного датасета было принято решение собрать датафреймы с оценками и информацией о фильмах и пользователях в один.

In [18]:
joined_df = ratings.join(users, ["user_id"], 'outer').drop('zip_code', 'timestamp')
joined_df = joined_df.join(movies, ["movie_id"], 'outer').drop('movie_title', 'release_date', 'video_release_date', 'IMDb_URL')

In [19]:
from pyspark.sql.functions import when

In [20]:
joined_df = joined_df.withColumn('rated_released_year_diff', when(joined_df.year_rated - joined_df.year_released > 0, joined_df.year_rated - joined_df.year_released ).otherwise(0))

In [21]:
joined_df.show()

+--------+-------+------+----------+---+------+----------+--------------+--------------+------------------+------------------+-------+------+---------+---------+----------+------+-----+-----------+-----+-------+---------+------+-------+-------+-------+------+--------+---+-------+-------------+------------------------+
|movie_id|user_id|rating|year_rated|age|gender|occupation|indexed_gender|gender_feature|indexed_occupation|occupation_feature|unknown|Action|Adventure|Animation|Children's|Comedy|Crime|Documentary|Drama|Fantasy|Film-Noir|Horror|Musical|Mystery|Romance|Sci-Fi|Thriller|War|Western|year_released|rated_released_year_diff|
+--------+-------+------+----------+---+------+----------+--------------+--------------+------------------+------------------+-------+------+---------+---------+----------+------+-----+-----------+-----+-------+---------+------+-------+-------+-------+------+--------+---+-------+-------------+------------------------+
|     148|    251|     2|      1998| 28|     M|    doctor|           0.0| (1,[0],[1.0])|              19.0|   (20,[19],[1.0])|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       2|
|     148|    580|     4|      1998| 16|     M|   student|           0.0| (1,[0],[1.0])|               0.0|    (20,[0],[1.0])|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       2|
|     148|    633|     1|      1997| 35|     M|programmer|           0.0| (1,[0],[1.0])|               5.0|    (20,[5],[1.0])|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       1|
|     148|    642|     5|      1998| 18|     F|   student|           1.0|     (1,[],[])|               0.0|    (20,[0],[1.0])|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       2|
|     148|    406|     3|      1997| 52|     M|  educator|           0.0| (1,[0],[1.0])|               2.0|    (20,[2],[1.0])|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       1|
|     148|     26|     3|      1998| 49|     M|  engineer|           0.0| (1,[0],[1.0])|               4.0|    (20,[4],[1.0])|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       2|
|     148|     27|     3|      1998| 40|     F| librarian|           1.0|     (1,[],[])|               6.0|    (20,[6],[1.0])|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       2|
|     148|    332|     5|      1998| 20|     M|   student|           0.0| (1,[0],[1.0])|               0.0|    (20,[0],[1.0])|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       2|
|     148|     44|     4|      1997| 26|     M|technician|           0.0| (1,[0],[1.0])|              11.0|   (20,[11],[1.0])|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       1|
|     148|    271|     3|      1998| 51|     M|  engineer|           0.0| (1,[0],[1.0])|               4.0|    (20,[4],[1.0])|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       2|
|     148|    606|     3|      1997| 28|     M|programmer|           0.0| (1,[0],[1.0])|               5.0|    (20,[5],[1.0])|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       1|
|     148|    916|     2|      1997| 27|     M|  engineer|           0.0| (1,[0],[1.0])|               4.0|    (20,[4],[1.0])|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       1|
|     148|    236|     4|      1998| 44|     F|    writer|           1.0|     (1,[],[])|               7.0|    (20,[7],[1.0])|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       2|
|     148|    602|     4|      1998| 47|     F|     other|           1.0|     (1,[],[])|               1.0|    (20,[1],[1.0])|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       2|
|     148|    663|     4|      1998| 26|     M|     other|           0.0| (1,[0],[1.0])|               1.0|    (20,[1],[1.0])|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       2|
|     148|    222|     2|      1997| 29|     M|programmer|           0.0| (1,[0],[1.0])|               5.0|    (20,[5],[1.0])|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       1|
|     148|    601|     3|      1997| 19|     F|    artist|           1.0|     (1,[],[])|              10.0|   (20,[10],[1.0])|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       1|
|     148|    330|     4|      1997| 35|     F|  educator|           1.0|     (1,[],[])|               2.0|    (20,[2],[1.0])|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       1|
|     148|    372|     5|      1997| 25|     F|   student|           1.0|     (1,[],[])|               0.0|    (20,[0],[1.0])|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       1|
|     148|    727|     2|      1998| 25|     M|   student|           0.0| (1,[0],[1.0])|               0.0|    (20,[0],[1.0])|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       2|
+--------+-------+------+----------+---+------+----------+--------------+--------------+------------------+------------------+-------+------+---------+---------+----------+------+-----+-----------+-----+-------+---------+------+-------+-------+-------+------+--------+---+-------+-------------+------------------------+
only showing top 20 rows

Категориальные значения (профессия, пол) были оформлены при помощи one-hot encoding.

In [22]:


# mmScaler = MinMaxScaler(inputCol="age", outputCol="scaled_age")
# model = mmScaler.fit(joined_df)
# model.transform(joined_df)

# joined_df = joined_df.drop("user_id", "movie_id", "gender", "indexed_gender", "occupation", "indexed_occupation", "age")
# joined_df.show()
joined_df.show()

+--------+-------+------+----------+---+------+----------+--------------+--------------+------------------+------------------+-------+------+---------+---------+----------+------+-----+-----------+-----+-------+---------+------+-------+-------+-------+------+--------+---+-------+-------------+------------------------+
|movie_id|user_id|rating|year_rated|age|gender|occupation|indexed_gender|gender_feature|indexed_occupation|occupation_feature|unknown|Action|Adventure|Animation|Children's|Comedy|Crime|Documentary|Drama|Fantasy|Film-Noir|Horror|Musical|Mystery|Romance|Sci-Fi|Thriller|War|Western|year_released|rated_released_year_diff|
+--------+-------+------+----------+---+------+----------+--------------+--------------+------------------+------------------+-------+------+---------+---------+----------+------+-----+-----------+-----+-------+---------+------+-------+-------+-------+------+--------+---+-------+-------------+------------------------+
|     148|    251|     2|      1998| 28|     M|    doctor|           0.0| (1,[0],[1.0])|              19.0|   (20,[19],[1.0])|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       2|
|     148|    580|     4|      1998| 16|     M|   student|           0.0| (1,[0],[1.0])|               0.0|    (20,[0],[1.0])|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       2|
|     148|    633|     1|      1997| 35|     M|programmer|           0.0| (1,[0],[1.0])|               5.0|    (20,[5],[1.0])|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       1|
|     148|    642|     5|      1998| 18|     F|   student|           1.0|     (1,[],[])|               0.0|    (20,[0],[1.0])|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       2|
|     148|    406|     3|      1997| 52|     M|  educator|           0.0| (1,[0],[1.0])|               2.0|    (20,[2],[1.0])|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       1|
|     148|     26|     3|      1998| 49|     M|  engineer|           0.0| (1,[0],[1.0])|               4.0|    (20,[4],[1.0])|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       2|
|     148|     27|     3|      1998| 40|     F| librarian|           1.0|     (1,[],[])|               6.0|    (20,[6],[1.0])|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       2|
|     148|    332|     5|      1998| 20|     M|   student|           0.0| (1,[0],[1.0])|               0.0|    (20,[0],[1.0])|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       2|
|     148|     44|     4|      1997| 26|     M|technician|           0.0| (1,[0],[1.0])|              11.0|   (20,[11],[1.0])|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       1|
|     148|    271|     3|      1998| 51|     M|  engineer|           0.0| (1,[0],[1.0])|               4.0|    (20,[4],[1.0])|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       2|
|     148|    606|     3|      1997| 28|     M|programmer|           0.0| (1,[0],[1.0])|               5.0|    (20,[5],[1.0])|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       1|
|     148|    916|     2|      1997| 27|     M|  engineer|           0.0| (1,[0],[1.0])|               4.0|    (20,[4],[1.0])|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       1|
|     148|    236|     4|      1998| 44|     F|    writer|           1.0|     (1,[],[])|               7.0|    (20,[7],[1.0])|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       2|
|     148|    602|     4|      1998| 47|     F|     other|           1.0|     (1,[],[])|               1.0|    (20,[1],[1.0])|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       2|
|     148|    663|     4|      1998| 26|     M|     other|           0.0| (1,[0],[1.0])|               1.0|    (20,[1],[1.0])|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       2|
|     148|    222|     2|      1997| 29|     M|programmer|           0.0| (1,[0],[1.0])|               5.0|    (20,[5],[1.0])|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       1|
|     148|    601|     3|      1997| 19|     F|    artist|           1.0|     (1,[],[])|              10.0|   (20,[10],[1.0])|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       1|
|     148|    330|     4|      1997| 35|     F|  educator|           1.0|     (1,[],[])|               2.0|    (20,[2],[1.0])|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       1|
|     148|    372|     5|      1997| 25|     F|   student|           1.0|     (1,[],[])|               0.0|    (20,[0],[1.0])|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       1|
|     148|    727|     2|      1998| 25|     M|   student|           0.0| (1,[0],[1.0])|               0.0|    (20,[0],[1.0])|      0|     1|        1|        0|         0|     0|    0|          0|    0|      0|        0|     0|      0|      0|      0|     0|       0|  0|      0|         1996|                       2|
+--------+-------+------+----------+---+------+----------+--------------+--------------+------------------+------------------+-------+------+---------+---------+----------+------+-----+-----------+-----+-------+---------+------+-------+-------+-------+------+--------+---+-------+-------------+------------------------+
only showing top 20 rows

In [23]:
avg_ratings_df = joined_df.select(['user_id', 'rating']  + genres)

for genre in genres:
    avg_ratings_df = avg_ratings_df.withColumn('rating {}'.format(genre), avg_ratings_df[genre] * avg_ratings_df.rating)

genre_ratings = list(map(lambda genre: 'rating {}'.format(genre), genres))
df1 = avg_ratings_df.groupBy('user_id').sum(*genres)
df2 = avg_ratings_df.groupBy('user_id').sum(*genre_ratings)

avg_ratings_df = df1.join(df2, ['user_id'])
for genre in genres:
    sum_rating_col = 'sum(rating {})'.format(genre)
    count_col = 'sum({})'.format(genre)
    avg_ratings_df = avg_ratings_df.withColumn('avg({})'
                                   .format(genre), avg_ratings_df[sum_rating_col] / avg_ratings_df[count_col])
    avg_ratings_df = avg_ratings_df.drop(sum_rating_col, count_col)

avg_ratings_df = avg_ratings_df.fillna(value=0)
avg_ratings_df.show()
avg_ratings_df.toPandas().to_csv('~/avg_ratings.csv')

+-------+------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------+
|user_id|avg(unknown)|       avg(Action)|    avg(Adventure)|    avg(Animation)|   avg(Children's)|       avg(Comedy)|        avg(Crime)|  avg(Documentary)|        avg(Drama)|avg(Fantasy)|   avg(Film-Noir)|       avg(Horror)|      avg(Musical)|      avg(Mystery)|      avg(Romance)|       avg(Sci-Fi)|     avg(Thriller)|          avg(War)|avg(Western)|
+-------+------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------+
|    148|         0.0|3.9166666666666665| 3.933333333333333| 4.428571428571429|               3.8|              4.45|3.6666666666666665|               0.0|              3.68|         0.0|              5.0|               2.0| 4.454545454545454|               3.0| 4.333333333333333| 4.461538461538462|               3.6|               4.1|         2.0|
|    463|         0.0| 2.761904761904762|               2.4|               2.2|2.0588235294117645|              2.46|               3.5|               4.0| 3.406779661016949|         2.5|              5.0|               1.0|1.8571428571428572| 4.666666666666667|3.2857142857142856|3.3333333333333335|2.7058823529411766|2.5555555555555554|         0.0|
|    471|         0.0|               4.0| 3.857142857142857|            2.6875|3.3461538461538463| 4.416666666666667|               0.0|               0.0|3.3333333333333335|         0.0|              0.0|               0.0| 2.111111111111111|               4.0|               4.0|               4.0|               0.0|               3.5|         0.0|
|    496|         0.0|           3.09375|2.7916666666666665|             3.125| 2.380952380952381|              2.75|3.6666666666666665|               0.0|3.2115384615384617|         3.0|              4.0|3.3333333333333335|2.6666666666666665|2.7142857142857144|3.6818181818181817|              3.12|               2.8|              4.25|         2.0|
|    833|         1.0| 2.736111111111111| 2.533333333333333|               4.0|               4.0| 2.753846153846154|3.3714285714285714|               4.0|3.3092783505154637|         3.0|4.111111111111111|               3.0|               2.4|               3.1|2.6153846153846154|2.8085106382978724|2.9722222222222223|3.3181818181818183|         4.0|
|    243|         0.0|3.6666666666666665|              3.75|               4.0|3.6666666666666665|3.5555555555555554|3.3333333333333335|               4.0|3.6271186440677967|         3.0|              0.0|               4.0|               0.0|               5.0| 3.423076923076923|               3.0|              3.25|               4.0|         4.0|
|    392|         0.0|               3.6| 4.166666666666667|               3.8|               4.0| 4.071428571428571|4.2727272727272725|               4.0| 4.298245614035087|         0.0|4.666666666666667|               3.5|               4.5|3.5555555555555554|               4.0|3.3636363636363638| 3.736842105263158| 4.090909090909091|         4.0|
|    540|         0.0|3.6842105263157894|             3.875|               3.2|              3.25|             3.625|               4.0|               0.0|3.7857142857142856|         3.0|              0.0|               4.0|               3.5|               3.5|3.8181818181818183|3.9166666666666665|             3.625| 3.857142857142857|         0.0|
|    623|         0.0|               4.0| 4.333333333333333|               0.0|               0.0| 3.789473684210526|              3.75|               0.0|3.5833333333333335|         0.0|              3.5|               3.0|3.3333333333333335|               4.0| 3.823529411764706|               3.9|             3.375|               4.0|         5.0|
|    737|         0.0|              3.75|               3.0|               2.5|               1.0|               4.0|               4.5|               4.0|              4.25|         0.0|              4.0|               0.0|               3.0|               0.0|               4.0|               4.0|               3.8| 4.333333333333333|         0.0|
|    858|         0.0|3.6666666666666665|               2.5|               0.0|               0.0|               4.0|3.5714285714285716|               0.0|3.4166666666666665|         0.0|              0.0|               3.0|               3.0|               3.5|               3.0|               2.0|             3.125|              3.25|         0.0|
|    897|         0.0| 4.192982456140351| 4.085714285714285| 4.181818181818182| 4.038461538461538| 3.767857142857143|3.4166666666666665|               0.0| 3.890909090909091|         4.4|              4.0| 4.571428571428571|               4.2| 4.166666666666667|            3.9375| 4.178571428571429|              3.95|              4.25|         4.0|
|     31|         0.0|               3.4|               4.0|               0.0|               0.0|               4.2|              4.25| 4.666666666666667|3.8461538461538463|         0.0|             4.25|               2.0|               4.5|3.6666666666666665|               3.6| 4.333333333333333| 3.111111111111111|               4.0|         0.0|
|    516|         0.0|               4.0|               4.0|               5.0|               0.0|               4.2| 4.333333333333333|               0.0|3.9166666666666665|         0.0|              0.0|               0.0|               3.0|               4.5|              4.75|               4.4|               5.0| 4.142857142857143|         0.0|
|     85|         0.0|3.4130434782608696|              3.25|               3.6|3.5217391304347827|3.5402298850574714|3.8181818181818183|               3.5|3.5526315789473686|         3.5|              4.0|               4.0|3.7916666666666665|               3.5| 3.769230769230769|3.6538461538461537| 3.310344827586207| 3.757575757575758|       3.375|
|    137|         0.0| 4.857142857142857| 4.928571428571429|               3.0|              3.75|               4.0|               4.5|               0.0|3.3333333333333335|         4.0|              5.0|               5.0|               3.0|               4.0|4.2727272727272725| 4.857142857142857| 4.785714285714286|               4.0|         1.0|
|    251|         0.0|3.7419354838709675| 3.764705882352941|3.6666666666666665|               4.2|              3.75|               3.6|               3.0| 4.130434782608695|         3.0|              0.0| 4.666666666666667|               4.0|               2.5|              3.75|3.9285714285714284| 3.769230769230769| 4.428571428571429|         0.0|
|    451|         0.0| 3.176470588235294|2.5714285714285716|               1.0|              2.25|2.6538461538461537|               3.0|2.6666666666666665| 2.473684210526316|         1.0|              2.0|               3.0|1.3333333333333333|3.8181818181818183| 2.823529411764706|               3.4| 3.586206896551724|2.8333333333333335|         0.0|
|    580|         0.0|3.4545454545454546|3.8181818181818183|               3.0|               2.5|3.5833333333333335|               3.0|               0.0|3.5833333333333335|         0.0|              0.0| 4.666666666666667|               5.0|               2.0|3.7142857142857144| 4.461538461538462|            3.0625| 4.142857142857143|         0.0|
|    808|         0.0|3.8333333333333335|               3.0|               0.0|               0.0|               4.0|               4.4|               0.0| 4.153846153846154|         0.0|              5.0|               3.0|               0.0|              4.25| 4.166666666666667|               4.0| 3.727272727272727|3.6666666666666665|         0.0|
+-------+------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------+
only showing top 20 rows

In [24]:
average_movie_rating = ratings.select('movie_id', 'rating')
average_movie_rating = average_movie_rating.groupBy('movie_id').avg('rating')

average_movie_rating.toPandas().to_csv('~/average_movie_rating.csv')
average_movie_rating.show()

+--------+------------------+
|movie_id|       avg(rating)|
+--------+------------------+
|     496| 4.121212121212121|
|     471|3.6108597285067874|
|     463| 3.859154929577465|
|     148|          3.203125|
|    1342|               2.5|
|     833| 3.204081632653061|
|    1088| 2.230769230769231|
|    1591|3.1666666666666665|
|    1238|             3.125|
|    1580|               1.0|
|    1645|               4.0|
|     392|3.5441176470588234|
|     623| 2.923076923076923|
|     540| 2.511627906976744|
|     858|               1.0|
|     737| 2.983050847457627|
|     243|2.4393939393939394|
|    1025|2.9318181818181817|
|    1084| 3.857142857142857|
|    1127| 2.909090909090909|
+--------+------------------+
only showing top 20 rows

In [25]:
popularity = joined_df.select('movie_id')
popularity = popularity.groupBy('movie_id').count()
popularity = popularity.withColumnRenamed('count', 'popularity').fillna(0)

popularity.toPandas().to_csv('~/movie_popularity.csv')
popularity.show()

+--------+----------+
|movie_id|popularity|
+--------+----------+
|     148|       128|
|     463|        71|
|     471|       221|
|     496|       231|
|     833|        49|
|    1088|        13|
|    1238|         8|
|    1342|         2|
|    1580|         1|
|    1591|         6|
|    1645|         1|
|     243|       132|
|     392|        68|
|     540|        43|
|     623|        39|
|     737|        59|
|     858|         3|
|     897|         2|
|    1025|        44|
|    1084|        21|
+--------+----------+
only showing top 20 rows

In [26]:
joined_df = joined_df.join(average_movie_rating, 'movie_id')

In [27]:
joined_df = joined_df.join(popularity, ['movie_id'])

In [28]:
joined_df = joined_df.join(avg_ratings_df, ['user_id'])
final_df = joined_df.drop("gender", "indexed_gender", "occupation", "indexed_occupation", "age")

In [29]:
# joined_df.popularity

In [30]:
from pyspark.ml.regression import RandomForestRegressor
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.classification import NaiveBayes

In [31]:
answer_col = 'rating'
features_col = 'features'
input_cols = [col for col in final_df.columns if col not in [answer_col, "user_id", "movie_id"]]
assembler = VectorAssembler(inputCols=input_cols, outputCol=features_col)

print(input_cols)

['year_rated', 'gender_feature', 'occupation_feature', 'unknown', 'Action', 'Adventure', 'Animation', "Children's", 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western', 'year_released', 'rated_released_year_diff', 'avg(rating)', 'popularity', 'avg(unknown)', 'avg(Action)', 'avg(Adventure)', 'avg(Animation)', "avg(Children's)", 'avg(Comedy)', 'avg(Crime)', 'avg(Documentary)', 'avg(Drama)', 'avg(Fantasy)', 'avg(Film-Noir)', 'avg(Horror)', 'avg(Musical)', 'avg(Mystery)', 'avg(Romance)', 'avg(Sci-Fi)', 'avg(Thriller)', 'avg(War)', 'avg(Western)']

In [32]:
data = assembler.setHandleInvalid("skip").transform(final_df)
data = data.select(answer_col,features_col, 'user_id', 'movie_id')
data.show(truncate=False)

+------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------+--------+
|rating|features                                                                                                                                                                                                                                                                                                                        |user_id|movie_id|
+------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------+--------+
|3     |(64,[0,1,6,30,41,42,43,44,46,47,48,49,50,51,53,55,56,57,58,59,60,61,62,63],[1997.0,1.0,1.0,1.0,1946.0,51.0,4.121212121212121,231.0,3.9166666666666665,3.933333333333333,4.428571428571429,3.8,4.45,3.6666666666666665,3.68,5.0,2.0,4.454545454545454,3.0,4.333333333333333,4.461538461538462,3.6,4.1,2.0])                      |148    |496     |
|4     |(64,[0,1,6,25,26,34,41,42,43,44,46,47,48,49,50,51,53,55,56,57,58,59,60,61,62,63],[1997.0,1.0,1.0,1.0,1.0,1.0,1991.0,6.0,3.792079207920792,202.0,3.9166666666666665,3.933333333333333,4.428571428571429,3.8,4.45,3.6666666666666665,3.68,5.0,2.0,4.454545454545454,3.0,4.333333333333333,4.461538461538462,3.6,4.1,2.0])         |148    |588     |
|5     |(64,[0,1,6,30,36,39,41,42,43,44,46,47,48,49,50,51,53,55,56,57,58,59,60,61,62,63],[1997.0,1.0,1.0,1.0,1.0,1.0,1939.0,58.0,3.871345029239766,171.0,3.9166666666666665,3.933333333333333,4.428571428571429,3.8,4.45,3.6666666666666665,3.68,5.0,2.0,4.454545454545454,3.0,4.333333333333333,4.461538461538462,3.6,4.1,2.0])        |148    |133     |
|1     |(64,[0,1,6,24,26,30,41,42,43,44,46,47,48,49,50,51,53,55,56,57,58,59,60,61,62,63],[1997.0,1.0,1.0,1.0,1.0,1.0,1993.0,4.0,2.4545454545454546,33.0,3.9166666666666665,3.933333333333333,4.428571428571429,3.8,4.45,3.6666666666666665,3.68,5.0,2.0,4.454545454545454,3.0,4.333333333333333,4.461538461538462,3.6,4.1,2.0])         |148    |78      |
|5     |(64,[0,1,6,25,26,34,41,42,43,44,46,47,48,49,50,51,53,55,56,57,58,59,60,61,62,63],[1997.0,1.0,1.0,1.0,1.0,1.0,1996.0,1.0,3.377952755905512,127.0,3.9166666666666665,3.933333333333333,4.428571428571429,3.8,4.45,3.6666666666666665,3.68,5.0,2.0,4.454545454545454,3.0,4.333333333333333,4.461538461538462,3.6,4.1,2.0])         |148    |596     |
|4     |(64,[0,1,6,25,26,34,41,42,43,44,46,47,48,49,50,51,53,55,56,57,58,59,60,61,62,63],[1997.0,1.0,1.0,1.0,1.0,1.0,1941.0,56.0,3.4959349593495936,123.0,3.9166666666666665,3.933333333333333,4.428571428571429,3.8,4.45,3.6666666666666665,3.68,5.0,2.0,4.454545454545454,3.0,4.333333333333333,4.461538461538462,3.6,4.1,2.0])       |148    |501     |
|5     |(64,[0,1,6,27,41,42,43,44,46,47,48,49,50,51,53,55,56,57,58,59,60,61,62,63],[1997.0,1.0,1.0,1.0,1979.0,18.0,3.9051724137931036,116.0,3.9166666666666665,3.933333333333333,4.428571428571429,3.8,4.45,3.6666666666666665,3.68,5.0,2.0,4.454545454545454,3.0,4.333333333333333,4.461538461538462,3.6,4.1,2.0])                     |148    |663     |
|4     |(64,[0,1,6,23,24,37,41,42,43,44,46,47,48,49,50,51,53,55,56,57,58,59,60,61,62,63],[1997.0,1.0,1.0,1.0,1.0,1.0,1996.0,1.0,3.66027397260274,365.0,3.9166666666666665,3.933333333333333,4.428571428571429,3.8,4.45,3.6666666666666665,3.68,5.0,2.0,4.454545454545454,3.0,4.333333333333333,4.461538461538462,3.6,4.1,2.0])          |148    |222     |
|5     |(64,[0,1,6,27,30,34,41,42,43,44,46,47,48,49,50,51,53,55,56,57,58,59,60,61,62,63],[1997.0,1.0,1.0,1.0,1.0,1.0,1984.0,13.0,3.905759162303665,191.0,3.9166666666666665,3.933333333333333,4.428571428571429,3.8,4.45,3.6666666666666665,3.68,5.0,2.0,4.454545454545454,3.0,4.333333333333333,4.461538461538462,3.6,4.1,2.0])        |148    |209     |
|2     |(64,[0,1,6,30,39,41,42,43,44,46,47,48,49,50,51,53,55,56,57,58,59,60,61,62,63],[1997.0,1.0,1.0,1.0,1.0,1989.0,8.0,4.137096774193548,124.0,3.9166666666666665,3.933333333333333,4.428571428571429,3.8,4.45,3.6666666666666665,3.68,5.0,2.0,4.454545454545454,3.0,4.333333333333333,4.461538461538462,3.6,4.1,2.0])                |148    |190     |
|1     |(64,[0,1,6,24,26,41,42,43,44,46,47,48,49,50,51,53,55,56,57,58,59,60,61,62,63],[1997.0,1.0,1.0,1.0,1.0,1993.0,4.0,3.2131147540983607,61.0,3.9166666666666665,3.933333333333333,4.428571428571429,3.8,4.45,3.6666666666666665,3.68,5.0,2.0,4.454545454545454,3.0,4.333333333333333,4.461538461538462,3.6,4.1,2.0])                |148    |140     |
|2     |(64,[0,1,6,23,40,41,42,43,44,46,47,48,49,50,51,53,55,56,57,58,59,60,61,62,63],[1997.0,1.0,1.0,1.0,1.0,1966.0,31.0,3.8613138686131387,137.0,3.9166666666666665,3.933333333333333,4.428571428571429,3.8,4.45,3.6666666666666665,3.68,5.0,2.0,4.454545454545454,3.0,4.333333333333333,4.461538461538462,3.6,4.1,2.0])              |148    |177     |
|4     |(64,[0,1,6,24,26,30,34,41,42,43,44,46,47,48,49,50,51,53,55,56,57,58,59,60,61,62,63],[1997.0,1.0,1.0,1.0,1.0,1.0,1.0,1939.0,58.0,4.0772357723577235,246.0,3.9166666666666665,3.933333333333333,4.428571428571429,3.8,4.45,3.6666666666666665,3.68,5.0,2.0,4.454545454545454,3.0,4.333333333333333,4.461538461538462,3.6,4.1,2.0])|148    |132     |
|1     |(64,[0,1,6,33,36,38,41,42,43,44,46,47,48,49,50,51,53,55,56,57,58,59,60,61,62,63],[1997.0,1.0,1.0,1.0,1.0,1.0,1960.0,37.0,4.100418410041841,239.0,3.9166666666666665,3.933333333333333,4.428571428571429,3.8,4.45,3.6666666666666665,3.68,5.0,2.0,4.454545454545454,3.0,4.333333333333333,4.461538461538462,3.6,4.1,2.0])        |148    |185     |
|5     |(64,[0,1,6,25,26,34,41,42,43,44,46,47,48,49,50,51,53,55,56,57,58,59,60,61,62,63],[1997.0,1.0,1.0,1.0,1.0,1.0,1996.0,1.0,3.126984126984127,126.0,3.9166666666666665,3.933333333333333,4.428571428571429,3.8,4.45,3.6666666666666665,3.68,5.0,2.0,4.454545454545454,3.0,4.333333333333333,4.461538461538462,3.6,4.1,2.0])         |148    |473     |
|4     |(64,[0,1,6,25,26,27,41,42,43,44,46,47,48,49,50,51,53,55,56,57,58,59,60,61,62,63],[1997.0,1.0,1.0,1.0,1.0,1.0,1995.0,2.0,3.8783185840707963,452.0,3.9166666666666665,3.933333333333333,4.428571428571429,3.8,4.45,3.6666666666666665,3.68,5.0,2.0,4.454545454545454,3.0,4.333333333333333,4.461538461538462,3.6,4.1,2.0])        |148    |1       |
|5     |(64,[0,1,6,37,39,41,42,43,44,46,47,48,49,50,51,53,55,56,57,58,59,60,61,62,63],[1997.0,1.0,1.0,1.0,1.0,1963.0,34.0,4.252577319587629,194.0,3.9166666666666665,3.933333333333333,4.428571428571429,3.8,4.45,3.6666666666666665,3.68,5.0,2.0,4.454545454545454,3.0,4.333333333333333,4.461538461538462,3.6,4.1,2.0])               |148    |474     |
|5     |(64,[0,1,6,27,41,42,43,44,46,47,48,49,50,51,53,55,56,57,58,59,60,61,62,63],[1997.0,1.0,1.0,1.0,1974.0,23.0,4.0664556962025316,316.0,3.9166666666666665,3.933333333333333,4.428571428571429,3.8,4.45,3.6666666666666665,3.68,5.0,2.0,4.454545454545454,3.0,4.333333333333333,4.461538461538462,3.6,4.1,2.0])                     |148    |168     |
|4     |(64,[0,1,6,23,24,37,38,41,42,43,44,46,47,48,49,50,51,53,55,56,57,58,59,60,61,62,63],[1997.0,1.0,1.0,1.0,1.0,1.0,1.0,1989.0,8.0,3.589403973509934,151.0,3.9166666666666665,3.933333333333333,4.428571428571429,3.8,4.45,3.6666666666666665,3.68,5.0,2.0,4.454545454545454,3.0,4.333333333333333,4.461538461538462,3.6,4.1,2.0])  |148    |164     |
|5     |(64,[0,1,6,25,27,41,42,43,44,46,47,48,49,50,51,53,55,56,57,58,59,60,61,62,63],[1997.0,1.0,1.0,1.0,1.0,1993.0,4.0,4.466101694915254,118.0,3.9166666666666665,3.933333333333333,4.428571428571429,3.8,4.45,3.6666666666666665,3.68,5.0,2.0,4.454545454545454,3.0,4.333333333333333,4.461538461538462,3.6,4.1,2.0])                |148    |169     |
+------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+-------+--------+
only showing top 20 rows

In [41]:
import numpy as np

In [126]:
# kmapper_data = np.array(final_df.collect())
kmapper_data = np.array(data.select(features_col).collect())

In [127]:
print(kmapper_data[0])
print(np.shape(kmapper_data.reshape(-1, 64)))
kmapper_data = kmapper_data.reshape(-1, 64)

[[1.99700000e+03 1.00000000e+00 0.00000000e+00 0.00000000e+00
  0.00000000e+00 0.00000000e+00 1.00000000e+00 0.00000000e+00
  0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
  0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
  0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
  0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
  0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
  0.00000000e+00 0.00000000e+00 1.00000000e+00 0.00000000e+00
  0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
  0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
  0.00000000e+00 1.94600000e+03 5.10000000e+01 4.12121212e+00
  2.31000000e+02 0.00000000e+00 3.91666667e+00 3.93333333e+00
  4.42857143e+00 3.80000000e+00 4.45000000e+00 3.66666667e+00
  0.00000000e+00 3.68000000e+00 0.00000000e+00 5.00000000e+00
  2.00000000e+00 4.45454545e+00 3.00000000e+00 4.33333333e+00
  4.46153846e+00 3.60000000e+00 4.10000000e+00 2.00000000e+00]]
(99991, 64)

In [128]:
custom_tooltips = np.array(data.join(movies, ["movie_id"], 'inner').select('movie_title').collect()).reshape(-1)

In [129]:
print(np.shape(custom_tooltips))

(99991,)

In [130]:
# Import the class
import umap
import kmapper as km
from kmapper import jupyter

# Some sample data
import sklearn
from sklearn import datasets

In [185]:
def visualize(data, custom_tooltips, items_count=100, filename="movies.html", title="MOVIES", show=True):
    # Initialize
    mapper = km.KeplerMapper(verbose=1)

    # Fit to and transform the data
    projected_data = mapper.fit_transform(data[:items_count], projection=umap.UMAP(n_neighbors=8,
                                                                     min_dist=0.65,
                                                                     n_components=2,
                                                                     metric='euclidean',
                                                                     random_state=3571))

    # Create dictionary called 'graph' with nodes, edges and meta-information
    graph = mapper.map(projected_data, clusterer=sklearn.cluster.DBSCAN(eps=0.3, min_samples=15),
                          cover=km.Cover(35, 0.9), remove_duplicate_nodes=True)

    # Visualize it
    html = mapper.visualize(graph, path_html=filename,
                     title=title, custom_tooltips=custom_tooltips[:items_count])

    # Inline display
    # jupyter.display(path_html="http://mlwave.github.io/tda/word2vec-gender-bias.html")
    if show:
        jupyter.display(path_html=filename)

In [148]:
visualize(kmapper_data, custom_tooltips, items_count=50, filename="movies_50.html")

KeplerMapper()
..Composing projection pipeline of length 1:
	Projections: UMAP(a=None, angular_rp_forest=False, b=None, init='spectral',
   learning_rate=1.0, local_connectivity=1.0, metric='euclidean',
   metric_kwds=None, min_dist=0.65, n_components=2, n_epochs=None,
   n_neighbors=8, negative_sample_rate=5, random_state=3571,
   repulsion_strength=1.0, set_op_mix_ratio=1.0, spread=1.0,
   target_metric='categorical', target_metric_kwds=None,
   target_n_neighbors=-1, target_weight=0.5, transform_queue_size=4.0,
   transform_seed=42, verbose=False)
	Distance matrices: False
	Scalers: MinMaxScaler(copy=True, feature_range=(0, 1))
..Projecting on data shaped (50, 64)

..Projecting data using:
	UMAP(a=None, angular_rp_forest=False, b=None, init='spectral',
   learning_rate=1.0, local_connectivity=1.0, metric='euclidean',
   metric_kwds=None, min_dist=0.65, n_components=2, n_epochs=None,
   n_neighbors=8, negative_sample_rate=5, random_state=3571,
   repulsion_strength=1.0, set_op_mix_ratio=1.0, spread=1.0,
   target_metric='categorical', target_metric_kwds=None,
   target_n_neighbors=-1, target_weight=0.5, transform_queue_size=4.0,
   transform_seed=42, verbose=1)

UMAP(a=None, angular_rp_forest=False, b=None, init='spectral',
   learning_rate=1.0, local_connectivity=1.0, metric='euclidean',
   metric_kwds=None, min_dist=0.65, n_components=2, n_epochs=None,
   n_neighbors=8, negative_sample_rate=5, random_state=3571,
   repulsion_strength=1.0, set_op_mix_ratio=1.0, spread=1.0,
   target_metric='categorical', target_metric_kwds=None,
   target_n_neighbors=-1, target_weight=0.5, transform_queue_size=4.0,
   transform_seed=42, verbose=1)
Construct fuzzy simplicial set
Tue Nov 12 15:56:40 2019 Finding Nearest Neighbors
Tue Nov 12 15:56:40 2019 Finished Nearest Neighbor Search
Tue Nov 12 15:56:40 2019 Construct embedding
	completed  0  /  500 epochs
	completed  50  /  500 epochs
	completed  100  /  500 epochs
	completed  150  /  500 epochs
	completed  200  /  500 epochs
	completed  250  /  500 epochs
	completed  300  /  500 epochs
	completed  350  /  500 epochs
	completed  400  /  500 epochs
	completed  450  /  500 epochs
Tue Nov 12 15:56:40 2019 Finished embedding

..Scaling with: MinMaxScaler(copy=True, feature_range=(0, 1))

Mapping on data shaped (50, 2) using lens shaped (50, 2)

Creating 1225 hypercubes.

Created 0 edges and 0 nodes in 0:00:00.043938.

Exception: Visualize requires a mapper with more than 0 nodes.
It is possible that the constructed mapper could have been constructed with bad parameters. This can occasionally happens when using the default clustering algorithm. Try changing `eps` or `min_samples` in the DBSCAN clustering algorithm.

In [149]:
visualize(kmapper_data, custom_tooltips, items_count=70, filename="movies_70.html")

KeplerMapper()
..Composing projection pipeline of length 1:
	Projections: UMAP(a=None, angular_rp_forest=False, b=None, init='spectral',
   learning_rate=1.0, local_connectivity=1.0, metric='euclidean',
   metric_kwds=None, min_dist=0.65, n_components=2, n_epochs=None,
   n_neighbors=8, negative_sample_rate=5, random_state=3571,
   repulsion_strength=1.0, set_op_mix_ratio=1.0, spread=1.0,
   target_metric='categorical', target_metric_kwds=None,
   target_n_neighbors=-1, target_weight=0.5, transform_queue_size=4.0,
   transform_seed=42, verbose=False)
	Distance matrices: False
	Scalers: MinMaxScaler(copy=True, feature_range=(0, 1))
..Projecting on data shaped (70, 64)

..Projecting data using:
	UMAP(a=None, angular_rp_forest=False, b=None, init='spectral',
   learning_rate=1.0, local_connectivity=1.0, metric='euclidean',
   metric_kwds=None, min_dist=0.65, n_components=2, n_epochs=None,
   n_neighbors=8, negative_sample_rate=5, random_state=3571,
   repulsion_strength=1.0, set_op_mix_ratio=1.0, spread=1.0,
   target_metric='categorical', target_metric_kwds=None,
   target_n_neighbors=-1, target_weight=0.5, transform_queue_size=4.0,
   transform_seed=42, verbose=1)

UMAP(a=None, angular_rp_forest=False, b=None, init='spectral',
   learning_rate=1.0, local_connectivity=1.0, metric='euclidean',
   metric_kwds=None, min_dist=0.65, n_components=2, n_epochs=None,
   n_neighbors=8, negative_sample_rate=5, random_state=3571,
   repulsion_strength=1.0, set_op_mix_ratio=1.0, spread=1.0,
   target_metric='categorical', target_metric_kwds=None,
   target_n_neighbors=-1, target_weight=0.5, transform_queue_size=4.0,
   transform_seed=42, verbose=1)
Construct fuzzy simplicial set
Tue Nov 12 15:56:53 2019 Finding Nearest Neighbors
Tue Nov 12 15:56:53 2019 Finished Nearest Neighbor Search
Tue Nov 12 15:56:53 2019 Construct embedding
	completed  0  /  500 epochs
	completed  50  /  500 epochs
	completed  100  /  500 epochs
	completed  150  /  500 epochs
	completed  200  /  500 epochs
	completed  250  /  500 epochs
	completed  300  /  500 epochs
	completed  350  /  500 epochs
	completed  400  /  500 epochs
	completed  450  /  500 epochs
Tue Nov 12 15:56:53 2019 Finished embedding

..Scaling with: MinMaxScaler(copy=True, feature_range=(0, 1))

Mapping on data shaped (70, 2) using lens shaped (70, 2)

Creating 1225 hypercubes.

Created 171 edges and 19 nodes in 0:00:00.057516.
Wrote visualization to: movies_70.html

In [186]:
visualize(kmapper_data, custom_tooltips, items_count=100, filename="movies_100.html", show=False)

KeplerMapper()
..Composing projection pipeline of length 1:
	Projections: UMAP(a=None, angular_rp_forest=False, b=None, init='spectral',
   learning_rate=1.0, local_connectivity=1.0, metric='euclidean',
   metric_kwds=None, min_dist=0.65, n_components=2, n_epochs=None,
   n_neighbors=8, negative_sample_rate=5, random_state=3571,
   repulsion_strength=1.0, set_op_mix_ratio=1.0, spread=1.0,
   target_metric='categorical', target_metric_kwds=None,
   target_n_neighbors=-1, target_weight=0.5, transform_queue_size=4.0,
   transform_seed=42, verbose=False)
	Distance matrices: False
	Scalers: MinMaxScaler(copy=True, feature_range=(0, 1))
..Projecting on data shaped (100, 64)

..Projecting data using:
	UMAP(a=None, angular_rp_forest=False, b=None, init='spectral',
   learning_rate=1.0, local_connectivity=1.0, metric='euclidean',
   metric_kwds=None, min_dist=0.65, n_components=2, n_epochs=None,
   n_neighbors=8, negative_sample_rate=5, random_state=3571,
   repulsion_strength=1.0, set_op_mix_ratio=1.0, spread=1.0,
   target_metric='categorical', target_metric_kwds=None,
   target_n_neighbors=-1, target_weight=0.5, transform_queue_size=4.0,
   transform_seed=42, verbose=1)

UMAP(a=None, angular_rp_forest=False, b=None, init='spectral',
   learning_rate=1.0, local_connectivity=1.0, metric='euclidean',
   metric_kwds=None, min_dist=0.65, n_components=2, n_epochs=None,
   n_neighbors=8, negative_sample_rate=5, random_state=3571,
   repulsion_strength=1.0, set_op_mix_ratio=1.0, spread=1.0,
   target_metric='categorical', target_metric_kwds=None,
   target_n_neighbors=-1, target_weight=0.5, transform_queue_size=4.0,
   transform_seed=42, verbose=1)
Construct fuzzy simplicial set
Tue Nov 12 18:57:35 2019 Finding Nearest Neighbors
Tue Nov 12 18:57:35 2019 Finished Nearest Neighbor Search
Tue Nov 12 18:57:35 2019 Construct embedding
	completed  0  /  500 epochs
	completed  50  /  500 epochs
	completed  100  /  500 epochs
	completed  150  /  500 epochs
	completed  200  /  500 epochs
	completed  250  /  500 epochs
	completed  300  /  500 epochs
	completed  350  /  500 epochs
	completed  400  /  500 epochs
	completed  450  /  500 epochs
Tue Nov 12 18:57:35 2019 Finished embedding

..Scaling with: MinMaxScaler(copy=True, feature_range=(0, 1))

Mapping on data shaped (100, 2) using lens shaped (100, 2)

Creating 1225 hypercubes.
Merged 72 duplicate nodes.

Number of nodes before merger: 220; after merger: 148


Created 6416 edges and 148 nodes in 0:00:00.245368.
Wrote visualization to: movies_100.html

In [184]:
visualize(kmapper_data, custom_tooltips, items_count=300, filename="movies_300.html", show=False)

KeplerMapper()
..Composing projection pipeline of length 1:
	Projections: UMAP(a=None, angular_rp_forest=False, b=None, init='spectral',
   learning_rate=1.0, local_connectivity=1.0, metric='euclidean',
   metric_kwds=None, min_dist=0.65, n_components=3, n_epochs=None,
   n_neighbors=8, negative_sample_rate=5, random_state=3571,
   repulsion_strength=1.0, set_op_mix_ratio=1.0, spread=1.0,
   target_metric='categorical', target_metric_kwds=None,
   target_n_neighbors=-1, target_weight=0.5, transform_queue_size=4.0,
   transform_seed=42, verbose=False)
	Distance matrices: False
	Scalers: MinMaxScaler(copy=True, feature_range=(0, 1))
..Projecting on data shaped (300, 64)

..Projecting data using:
	UMAP(a=None, angular_rp_forest=False, b=None, init='spectral',
   learning_rate=1.0, local_connectivity=1.0, metric='euclidean',
   metric_kwds=None, min_dist=0.65, n_components=3, n_epochs=None,
   n_neighbors=8, negative_sample_rate=5, random_state=3571,
   repulsion_strength=1.0, set_op_mix_ratio=1.0, spread=1.0,
   target_metric='categorical', target_metric_kwds=None,
   target_n_neighbors=-1, target_weight=0.5, transform_queue_size=4.0,
   transform_seed=42, verbose=1)

UMAP(a=None, angular_rp_forest=False, b=None, init='spectral',
   learning_rate=1.0, local_connectivity=1.0, metric='euclidean',
   metric_kwds=None, min_dist=0.65, n_components=3, n_epochs=None,
   n_neighbors=8, negative_sample_rate=5, random_state=3571,
   repulsion_strength=1.0, set_op_mix_ratio=1.0, spread=1.0,
   target_metric='categorical', target_metric_kwds=None,
   target_n_neighbors=-1, target_weight=0.5, transform_queue_size=4.0,
   transform_seed=42, verbose=1)
Construct fuzzy simplicial set
Tue Nov 12 18:52:44 2019 Finding Nearest Neighbors
Tue Nov 12 18:52:44 2019 Finished Nearest Neighbor Search
Tue Nov 12 18:52:44 2019 Construct embedding
	completed  0  /  500 epochs
	completed  50  /  500 epochs
	completed  100  /  500 epochs
	completed  150  /  500 epochs
	completed  200  /  500 epochs
	completed  250  /  500 epochs
	completed  300  /  500 epochs
	completed  350  /  500 epochs
	completed  400  /  500 epochs
	completed  450  /  500 epochs
Tue Nov 12 18:52:44 2019 Finished embedding

..Scaling with: MinMaxScaler(copy=True, feature_range=(0, 1))

Mapping on data shaped (300, 3) using lens shaped (300, 3)

Creating 42875 hypercubes.
Merged 3433 duplicate nodes.

Number of nodes before merger: 6087; after merger: 2654


Created 1339687 edges and 2654 nodes in 0:00:16.089390.
Wrote visualization to: movies_300.html

In [173]:
kmpapper_movies = np.array(movies.join(average_movie_rating, ['movie_id'], 'outer').join(popularity, ['movie_id'], 'outer').drop('movie_id', 'movie_title', 'release_date', 'video_release_date', 'IMDb_URL').collect())
kmpapper_movies_tooltips = np.array(movies.select('movie_title').collect()).reshape(-1)

In [183]:
visualize(kmpapper_movies, kmpapper_movies_tooltips, items_count=100, filename="movies_100_1.html", show=False)

KeplerMapper()
..Composing projection pipeline of length 1:
	Projections: UMAP(a=None, angular_rp_forest=False, b=None, init='spectral',
   learning_rate=1.0, local_connectivity=1.0, metric='euclidean',
   metric_kwds=None, min_dist=0.65, n_components=3, n_epochs=None,
   n_neighbors=8, negative_sample_rate=5, random_state=3571,
   repulsion_strength=1.0, set_op_mix_ratio=1.0, spread=1.0,
   target_metric='categorical', target_metric_kwds=None,
   target_n_neighbors=-1, target_weight=0.5, transform_queue_size=4.0,
   transform_seed=42, verbose=False)
	Distance matrices: False
	Scalers: MinMaxScaler(copy=True, feature_range=(0, 1))
..Projecting on data shaped (100, 22)

..Projecting data using:
	UMAP(a=None, angular_rp_forest=False, b=None, init='spectral',
   learning_rate=1.0, local_connectivity=1.0, metric='euclidean',
   metric_kwds=None, min_dist=0.65, n_components=3, n_epochs=None,
   n_neighbors=8, negative_sample_rate=5, random_state=3571,
   repulsion_strength=1.0, set_op_mix_ratio=1.0, spread=1.0,
   target_metric='categorical', target_metric_kwds=None,
   target_n_neighbors=-1, target_weight=0.5, transform_queue_size=4.0,
   transform_seed=42, verbose=1)

UMAP(a=None, angular_rp_forest=False, b=None, init='spectral',
   learning_rate=1.0, local_connectivity=1.0, metric='euclidean',
   metric_kwds=None, min_dist=0.65, n_components=3, n_epochs=None,
   n_neighbors=8, negative_sample_rate=5, random_state=3571,
   repulsion_strength=1.0, set_op_mix_ratio=1.0, spread=1.0,
   target_metric='categorical', target_metric_kwds=None,
   target_n_neighbors=-1, target_weight=0.5, transform_queue_size=4.0,
   transform_seed=42, verbose=1)
Construct fuzzy simplicial set
Tue Nov 12 18:48:12 2019 Finding Nearest Neighbors
Tue Nov 12 18:48:12 2019 Finished Nearest Neighbor Search
Tue Nov 12 18:48:12 2019 Construct embedding
	completed  0  /  500 epochs
	completed  50  /  500 epochs
	completed  100  /  500 epochs
	completed  150  /  500 epochs
	completed  200  /  500 epochs
	completed  250  /  500 epochs
	completed  300  /  500 epochs
	completed  350  /  500 epochs
	completed  400  /  500 epochs
	completed  450  /  500 epochs
Tue Nov 12 18:48:12 2019 Finished embedding

..Scaling with: MinMaxScaler(copy=True, feature_range=(0, 1))

Mapping on data shaped (100, 3) using lens shaped (100, 3)

Creating 42875 hypercubes.
Merged 25 duplicate nodes.

Number of nodes before merger: 28; after merger: 3


Created 3 edges and 3 nodes in 0:00:01.228340.
Wrote visualization to: movies_100_1.html

array([0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1994,
       3.859154929577465, 71], dtype=object)